body {
  font-family: Geneva, Helvetica, sans-serif;
  padding: 0px;
  margin: 0px;
}
h3 {
  padding: 0px;
  margin: 2px;
}
h1 {
  margin: 2px;
}
#header {
  border-radius: 2px;
  border: 1px solid grey;
  background-color: #4f81bc;
  color: whitesmoke;
  margin-bottom: 5px;
}

.grid-container {
  display: grid;
  grid-template-columns: 75% auto;
  grid-template-rows: 10% 420px auto;
  grid-template-areas: "File-Select File-Select" "Chart Props" "Events Props";
  grid-column-gap: 2px;
  grid-row-gap: 2px;
}

.File-Select,
.Chart,
.Props,
.Events {
  border: 1px solid grey;
  border-radius: 2px;
  margin: 1px;
  padding: 2px;
}

.File-Select {
  grid-area: File-Select;
  /* background-color: #f2f2f2; */
}

.Chart {
  grid-area: Chart;
}

.Props {
  grid-area: Props;
  /* background-color: #f2f2f2; */
}

.Events {
  grid-area: Events;
  /* background-color: #F2F2F2; */
}

.Events table {
  border: 2px solid #505050;
  border-collapse: collapse;
  padding: 5px;
  font-size: 0.9em;
}

.Events th {
  border: 1px solid #c0c0c0;
  padding: 5px;
  color: #fff;
  background: #4f81bc;
}

.Events td {
  border: 1px solid #dcdcdc;
  padding: 3px;
}

.Events tbody tr {
  background-color: #ffffff;
}
.Events tbody tr.selected,
.Events tbody tr.selected:nth-child(2n + 1) {
  border: 2px solid grey;
  background-color: #ffaf82;
}

.Events tbody tr:nth-child(odd) {
  background-color: #f5f5f5;
}

.Events tr:hover {
  background-color: #d8d8d8;
}

.Events tbody tr:nth-child(odd):hover {
  background-color: #d8d8d8;
}
